.about--section__wrapper {
    width: 100%;
    background-color: var(--color-primary);
    padding: 1.5rem;
    padding-left: 4rem;
    color: var(--font-color);
    background-image: url('../../assets/images/black-marble.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.about--section__container {
    width: 100%;
    padding: 25% 1rem 1rem 1rem;
    margin-top: 30%;
    background-color: var(--font-color);
    color: var(--color-primary);
    border-radius: 1rem;
    position: relative;
}

.about--section__profile {
    width: 40%;
    position: absolute;
    top: -25%;
    left: 2rem;
    border: solid 1px var(--font-color);
    border-radius: 0.5rem;
    background-color: var(--color-accent-1);
}