.home--section__wrapper {
    height: 100vh;
    width: 100vw;
    position: relative;
    border-bottom: solid 2px #fff;
    background-color: black;
    z-index: -2;
}

.home--background__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    object-position: top;
    background-color: black;
}

.home--section__container {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color-curtain);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.brand--container {
    width: 80%;
    border: solid 1px #fff;
}

.brand--title {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    font-size: 3rem;
}

.brand--horizontal__line {
    margin: 0.5rem 0;
}

.brand--small {
    display: flex;
    justify-content: space-between;
    font-weight: 300;
    letter-spacing: 1.5vw;
}

.comments--actions__container {
    width: 90%;
    margin-top: 1rem;
}

.home--btn {
    height: 3rem;
    font-size: 1.2rem;
    border-radius: 0;
    border: solid 2px #fff;
    color: #fff;
    backdrop-filter: blur(5px);
    background-color: transparent;
    padding: 0 1rem;
}

@media only screen and (min-width: 1024px) {
    .home--background__image {
        width: 50%;
        transform: scaleX(-1);
        margin-left: 50%;
    }

    .home--section__container {
        align-items: start;
        margin-left: 10vw;
    }

    .brand--container {
        width: 40%;
    }
}