body {
    color: var(--font-color);
    font-family: "Lato", sans-serif;
    background-color: var(--color-primary);
}

.no--bg__img {
    opacity: 0;
}

.App {
    position: relative;
}

.app--bg__img {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -3;
    object-position: top;
    object-fit: cover;
    transition: opacity 1s;
}

a {
    text-decoration: none;
    color: var(--font-color);
}

li {
    list-style: none;
}